{% extends 'main.html' %}


{% block content %}

<h1> The projects </h1>

<table>
    <tr>
        <th>Project</th>
        <th>positive votes</th>
        <th>Votes</th>
        <th></th>
        <th></th>
    </tr>
    </tr>
    {% for project in projects %}
    <tr> 

        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'update-project' project.id %} ">Edit</a> </td>
        <td><a href="{% url 'delete-project' project.id %} ">Delete</a> </td>
        <td><a href="{% url 'project' project.id %} ">view</a> </td>
    </tr>
    {% endfor %}
</tablupdate-e>


<ul>
    {% for project in projects %}
    <li>
        Title : <a href="{% url 'project' project.id %} "> {{project.title}} </a> --- {{project.created}}
    </li>
    {% endfor %}
</ul>

{% endblock content %}
